nav {
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    background-color: #513F38;
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
    font-size: large;
    /* font-weight: 600; */

}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.onlinelibrary {
    padding-left: 10px;
    font-size: 18px;
}

nav ul li {
    padding-left: 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #513F38 ;
    width: auto;
    height: 40px;
    border-radius: 30px;
    text-align:ccenter;
    align-content: center;
    padding-right: 25px;
}

a:hover {
    color: #dac2a6;
}