/* 
Colors Used
titles: #513F38  // A dark brown
labels: #3A1F04  // A light dark brown
background: antiquewhite
main content: #FAF0E6
*/

html, body {
    height: 100%;
}

body {
    background-color: ivory; 
    text-align: center;
    padding-top: 52px;
    min-height: 100vh;
}

h1, h2, h3 {
    color: #513F38;
    /* color: rosybrown; */
    font-family: 'Arial', sans-serif;
    display: block;
}

h3 {
    font-size: medium;
}

input {
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    border: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 50%;

}

label, a, legend {
    font-family: 'Arial', sans-serif;
    font-size: medium;
}

label, legend {
    color: #3A1F04;
}

a {
    font-size: 90%;
    color:#110808;

}


fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

legend {
    margin-bottom: 5px;
}

footer {
    background-color: #513F38;
    color: white;
    font-family: Arial, sans-serif;
    font-size: large;
    padding: 20px 0;
    width: 100%;
}

/* Container for body */
.parent_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.note {
    margin-left: 40%;
    font-size: small;
}

.buttons {
    display: block;
    width: 10%;
    height: 45px;
    background-color: #513F38;
    color: #FAF0E6;
    font-family: Arial, sans-serif;
    font-size: medium;
    margin-top: 5%;
    margin-left: 45%;
    border-radius: 15px;
}

.buttons:hover, a:hover {
    color: #DABC80;
}

.input-radio input{
    border-radius: 0px;
    margin-left: 5%;
    padding: 0px;
    width: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.form-group{
    display: grid;
    margin-left: 0 auto;
    width: auto;
    height: 50%;
    grid-template-columns: 1fr 6fr;
    gap: 6px;
    column-gap: -10px;
}

.form-group label {
    padding-top: 5px;
    grid-column: 1;
}

.form-group input {
    height: 20px;
    font-size: medium;
}
.main-content{
    background-color: sand; 
    padding: 3%; 
    padding-left: 5%;
    margin-left: 25%; 
    margin-right: 25%; 
    margin-top: 5%; 
    height: 400px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/*------------------------Available Books CSS--------------------------------*/

.availableBooksHeader {
    margin: 45px 0 0 40px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #3A1F04;

}

.booksContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px 90px 40px;
}

/*book card inside available books*/
.bookCard {
    width: 250px;
    height: 430px;
    overflow: hidden;
    border: #110808;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    margin: 0px 20px 40px 0px;
    background-color: #FAF0E6;
    color: #3A1F04;
    text-decoration: none;
    transition: all 0.3s ease;
}

.bookCard:hover {
    transform: scale(1.02);
}

/* adjust to 100% for image only*/
.avialableBookCover {
    width: 100%;
    height: 70%;
}

.bookTitle {
    margin: 5px 0 0 7px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 21px;
    text-decoration: underline;
}

.bookAuthor_Date, .bookCategory {
    margin: 5px 0 0 8px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.availableBookCategory {
    font-weight: 500;
}

/*---------------------------ِAdd New Book CSS-------------------------------*/

.addBookContainer {
    width: 100%;
}

.addBookFormContainer {
    overflow: hidden;
    height: 1000px;
    margin: 10px;
    width: 100%;
}

.formContent {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    width: 100%;
}

.addBookDisplayCover {
    width: 35%;
    height: 650px;
}

.addBookDisplayCover img {
    width: 100%;
    height: 100%;
}

.addBookDetails {
    position: relative;
    width: 65%;
    height: 650px;
}

.addBookBlurredBackground {
    position: absolute;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.addBookBlurredBackground img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: blur(6px);
    object-fit: cover;
    z-index: 1;
}

.addBookInputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px 0 10px 25px;
}

.addBookInputLabel {
    font-size: 30px;
}

.addBookInput {
    margin: 0 0 15px 0;
    border-radius: 8px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    width: 600px;
    height: 35px;
    opacity: 0.8;
    background-color: #fdfaf8;
}

.addBookCover {
    width: 100%;
}

#addBookCoverInput {
    visibility: hidden;
}

.addBookCover {
    text-align: left;
    margin: 20px 0 0 180px;
}

#addBookSubmit {
    background-color: #3A1F04;
    color: #FAF0E6;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin: 10px 0 40px 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

/*---------------------------ِSearch CSS-------------------------------*/
/*search-borrowed books-home*/
#search_form {
    margin-left: 20%;
}

/*----------------------------Borrowed CSS-------------------------------*/
.borrowed {
    font-family: Arial, sans-serif;
    font-size: large;
    font-style: italic;
    align-self: flex-start;
    margin-left: 3%;
    color: #3A1F04;
}


/*----------------------------Reset Password CSS-------------------------------*/
#reset_password_button {
    width: 40%;
    margin-left: 30%;
}

.mainimg {
    height: auto;
    width: 100vw;
    object-fit: cover;
    display: block;
    position: relative;
    align-self: flex-start;
}

.image-text {
    position: absolute;
    color: #FFE8B3;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 90;
    background-color: transparent;
    transform: translate(-60px, -20px);
    top: 25%;
    left: 50%;
}
/*-------------------------------------------------*/
