/* 
Colors Used
titles: #513F38  // A dark brown
labels: #3A1F04  // A light dark brown
background: antiquewhite
main content: #FAF0E6
*/

body {
    background-color: antiquewhite; 
    text-align: center;
}

h1, h2 {
    color: #513F38;
    /* color: rosybrown; */
    font-family: 'Arial', sans-serif;
    display: block;
}


input {
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    border: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 50%;

}

label, a, legend {
    font-family: 'Arial', sans-serif;
    font-size: medium;
}

label, legend {
    color: #3A1F04;
}

a {
    font-size: 90%;
    color:#110808;

}


fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

legend {
    margin-bottom: 5px;
}

/* Container for body */
.flex-container {
    display: flex;
}

.note {
    margin-left: 40%;
    font-size: small;
}

.buttons {
    display: block;
    width: 20%;
    height: 12%;
    background-color: #513F38;
    color: #FAF0E6;
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: auto;
}

.buttons:hover, a:hover {
    color: #DABC80;
}

.input-radio input{
    border-radius: 0px;
    margin-left: 5%;
    padding: 0px;
    width: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.form-group{
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 6fr;
    gap: 5px;
}

.form-group label {
    padding-top: 5px;
    grid-column: 1;
}

.main-content{
    background-color: #FAF0E6; 
    padding: 3%; 
    padding-left: 5%;
    margin-left: 25%; 
    margin-right: 25%; 
    margin-top: 5%; 
    height: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/*------------------------Available Books CSS--------------------------------*/

#availableBooksHeader{
    margin: 45px 0 0 40px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #3A1F04;

}

/* Container for image */
.availableBooksContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px 90px 40px;
}

/*book card inside available books*/
.bookCard {
    width: 250px;
    height: 430px;
    overflow: hidden;
    border: #110808;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    margin: 0px 20px 40px 0px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.bookCard:hover {
    transform: scale(1.02);
}
/* adjust to 100% for image only*/
.avialableBookCover {
    width: 100%;
    height: 70%;
}

.availableBookTitle {
    margin: 5px 0 0 7px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 21px;
    text-decoration: underline;
    color: #3A1F04;
}

.availableBookAuthor_Date, .availableBookCategory {
    margin: 5px 0 0 8px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #3A1F04;
}

.availableBookCategory {
    font-weight: 500;
}

/*---------------------------ŸêAdd New Book CSS-------------------------------*/

#addNewBookHeader {
    text-align: left;
    margin: 70px 0 0 300px;
    color: #3A1F04;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: 200;
}

#addNewBookFormContainer {
    height: 600px;
    margin: 5px 270px 70px 270px;
    border: solid #110808;
}

.formContent {
    display: flex;
    height: 600px;
}

.newBookDisplayCover, .addNewBookDetails{
    flex: 1;
}

#newBookCover {
    width: 100%;
    height: 100%;
}

.addNewBookDetails {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: Arial, sans-serif;
}

.addBookInputLabel {
    text-align: left;
    margin: 10px 0 0 40px;
    color: #3A1F04;
    font-size: 25px;
}

.addBookInput {
    margin: 0 0 7px 40px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}


